<div class="p-3 mb-2 bg-info text-center"><h1>Business Contact List</h1>
  </div>

<br>
<a href="/address-list-add" class="btn btn-primary" role="button">
<i class="fas fa-plus-circle"></i> Add a Contact</a>
<br>
            

<div class="row">
    <div class="col">

        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Number</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <% for(let count=0; count < address.length; count++) { %>

                    <!-- Repeatable Row Template -->
                    <tr>
                        <th scope="row"><%= count + 1 %></th>
                        <td><%= address[count].name %></td>
                        <td><%= address[count].number %></td>
                        <td><%= address[count].email %></td>
                        <td class="col-1">
                        <a href="address-list-edit<%= address[count]._id %>" class="btn btn-primary btn-sm"> 
                            <i class="fas fa-pencil-alt"></i> Edit</a>
                            <a href="/address-list-edit"></a> 
                        </td>
                        <td class="col-1">
                        <a href="address-list/delete<%= address[count]._id %>" class="btn btn-danger btn-sm"> 
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                <% } %>    
            </tbody>
        </table>
    </div>
</div>

<p class="text-center text-muted small">
                    Don't have an account? 
                    <a href="/register">Register Here!</a>
                </p>



