<!--COMP229 - S2021 - Sindhu Binil, ID# 301150331, 17-10-2021-->

<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

 <!-- Main Content -->
 <main>
    <div class="container">
        <%- include('contents/' + page + '.ejs'); %>
    </div>
 </main>
    
 
<%- include ('partials/bottom_nav.ejs') %>
    
  
<%- include ('partials/footer.ejs') %>