<!--COMP229 - S2021 - Sindhu Binil, ID# 301150331, 20-10-2021-->

<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>


 <!-- Main Content -->
 <main>
 <%- include('./contents/' + page + '.ejs') %>
 </main>
    
 
<%- include ('partials/bottom_nav.ejs') %>
    
  
<%- include ('partials/footer.ejs') %>